// .fondoServicios{
// 	width: 100%;
// 	opacity: 0.85;
// 	min-height: 500px;
// 	height: 1300px;

// }




.fondoServicios {
  /* The image used */
  background-image: url(../assets/img/bg-gaming.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.servicios{
	h2{
		font-size: 70px;
		
		color: $base;

		margin-top: 40px;



		
	}

	// span{
	// 	border-bottom: 2px solid $base;
	// }

hr { 
	display: block; 
	height:1px; 
	border: 0; 
	border-top: 2px solid $base; 
	margin: auto; 
	padding: 0; 
	width: 10%;
	margin-bottom: 100px;

}

h4{
	font-size: 20px;
	color: #f2f2f2;
	margin-top: 20px;
	margin-left: 40px;
	text-align: left;

	
}

h4 .animate__animated.animate__backInLeft {
  --animate-duration: 2s;
  --animate-delay: 3s;
}


 h3{
    font-size: 40px;
	color: #f2f2f2;
	margin-top: 40px;
	margin-left: 40px;
	text-align: left;

	.animate__animated.animate__backInLeft {
  --animate-duration: 3s;
  --animate-delay: 1.2s;
 }

 
}

}